[class*='_container'] {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*='_img'] {
  display: block;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.2px;
  color: var(--header-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.3px;
  color: var(--accent-color);
}

.section {
  padding: 94px 0;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.6px;
  color: var(--second-color);

  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
