.member__name-title {
  margin: 30px 0 10px 0;

  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.3px;
}

.member__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.3px;
}
