.clients__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.3px;
  text-align: center;
}

.clients__list {
  display: flex;
  gap: 30px;
}
